---
layout: default
comments: true
# other options
---

	<!-- page-title start -->
	<!-- ================ -->

	<h2>
		<span class="comments">
			<i class="fa fa-folder-o"></i> <a href="/category#{{ page.categories }}">{{ page.categories }}</a>
		</span>
	</h1>
	<div class="separator-2"></div>
	<!-- page-title end -->

	<h1 class="page-title">{{ page.title }}</h1>

	<div class="post-info">
		<span class="post-date">
			<i class="icon-calendar"></i>
			<span class="day">{{ page.date | date: "%b  %Y" }}</span>
			<span class="month">{{ page.date | date: "%-d" }}</span>
		</span>
		<span class="submitted">
			<i class="icon-user-1"></i> by <a href="#">{{ page.author }}</a>
		</span>
		<span class="comments">
			<i class="icon-chat"></i> <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>
		</span>

	</div>
	

	<div class="blogpost-content mt-20">
		{{ content }}
	</div>

	<div class="separator-2"></div>
	
	<div class="tags pull-left"><i class="icon-tags"></i> 
		{% for tag in page.tags  %}  
			<a href="/tags/{{ tag }}" title="{{ tag }}">{{ page.tags }}</a>          
		{% endfor %} 
	</div>

	<div class="link pull-right">
		<ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
			<li class="twitter">
				<a target="_blank" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a>
			</li>
			<li class="googleplus">
				<a target="_blank" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a>
			</li>
			<li class="facebook">
				<a target="_blank" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a>
			</li>
		</ul>
	</div>

	<div class="clearfix mb-20"></div>

	<!-- latest start -->
	<!-- ================ -->
	{% include latest.html %} 
	<!-- latest end -->


	<!-- comments start -->
	<!-- ================ -->
	{% include comment.html %} 
	<!-- comments end -->

	<div class="row">
		{% for related in site.related_posts %}
			<div class="col-md-2">
			<div class="media margin-clear">
				<div class="media-body">
					<h6 class="media-heading"><a href="blog-post.html">{{ related.title | strip_html | truncatewords:20 }}</a></h6>
					<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>{{ related.date | date: "%b %-d, %Y" }}</p>
				</div>
			<hr>
			</div>
			</div>
	    {% endfor %}
    </div>